/node_modules
/public/hot
/public/storage
/public/img
/public/fonts
/public/js
/public/uploads
/public/*.png
/public/*.svg
/public/*.xml
/public/*.ico
/public/robots.txt
/public/*.json
/public/css
/public/precache-*
/public/service-worker.js
/public/manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
